.list_container{
	background: #2b2b2b;
	padding: 20px 30px;
	border-radius: 12px;
	width: 350px;
}

body{
	font-family:'Courier New', Courier, monospace;
	background: azure;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

h1{
	text-align: center;
	color: azure;
}

#list{
	list-style: none;

}
p{
	text-align: center;
	color: azure;
}
#input{
	width: 70%;

}
#add_btn{
	background: rgb(152, 48, 250);
	width: 15%;
	color: azure;
	
}
button{
	background:azure;
	color: #2b2b2b;
	border: none;
	border-radius: 4px;
	padding: 4px 8px;
	margin-bottom: 5px;
	margin-top: 10px;

}
.filters{
	display: flex;
	justify-content: center;
	gap: 10px;
}
.add_div{
	display: flex;
	justify-content: center;
	gap: 10px;
}
input{
	background: azure;
	border: none;
	border-radius: 6px;
	padding: 4px 8px;

}
li{

	background: #2b2b2b;
	color: azure;
	padding: 8px 10px;
	margin-bottom: 8px;
	border-radius: 6px;

	transition: background 0.3s;
}
li:hover {
  background: #5c5c5e;
}